body{
    font-family: Verdana, 'Times New Roman';
    background-color: #000;
    color: #FFFFFF;
    margin: 25px 25px 0px 25px;
}

h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p{
    font-size: 24px;
    padding: 0px 0px 15px 15px;
}

img{
    width: 350px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
}

div{
    min-height: 100px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

.intro{
    border-radius: 15px;
    margin-top: 15px;
}

.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 3px 10px
}

.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-width: 0px 10px 3px 0px
}

.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 3px 10px
}
.yellow h2{
    color: #000;
    text-shadow: 2px 4px  #c7e2c7
}

.yellow p{
    color: #000;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-width: 0px 10px 3px 0px
}

span{
    text-shadow: none;
    text-decoration: underline;
    text-transform: uppercase;
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,102,255,1) 75%, rgba(0,0,0,1) 100%);
    text-align: center;
}

footer p{
    padding: 10px 10px 10px 0px;
    font-size: 20px;
}